div.side-bar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(205.17deg, #418CD1 10.93%, #9C41D1 116.08%);

    div.icon-top {
        height: 50px;
        display: flex;
        justify-content: space-between;

        div.icon-left {
            position: relative;

            .elip,
            .cirlce {
                position: absolute;
            }
        }

        div.icon-right {
            display: flex;
            align-self: center;
            margin-right: 15px;

        }
    }

    div.logo {
        text-align: center;
        margin-top: 20px;
    }

    div.nav-item {
        margin: 0 auto;
        margin-bottom: 12px;
        width: 220px;
        height: 50px;
        color: white;
        display: flex;
        align-items: center;
        border-radius: 8px;
        cursor: pointer;


        &.actived,&:hover {
            background-color: #71ade579;
        }
    }

    .icon-cpn {
        margin: 0 15px;
    }

    div.navigation-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;


    }
}