div.container-range-time-course {
    div.current-time-range {
        display: flex;
        gap: 30px;
        div.left {
            flex: 1;
            .progress-bar-time {
                .ant-progress-outer {
                    .ant-progress-inner {
                        background-color: #f9b2744d;

                        >div {
                            background-color: #FF7800;
                        }
                    }
                }
            }
        }

        div.right {
            align-self: center;
            button {
                width: 135px;
                height: 45px;
                background: #4C6FFF;
                border-radius: 6px;
                color: white;
                border: none;
                outline: none;
                cursor: pointer;
            }
        }
    }
}